body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.form-heading {
    color: rgb(16, 16, 121);
    width: 50%;
    margin: 0 0 35px;
}

.title {
    color: rgb(54, 102, 175);
    margin-bottom: 0;
}

.blogBox {
    margin: 40px 0;
    border-bottom: 1px solid #212529;
    border-top: 1px solid #212529;
    padding: 20px;
}

.card {
    border: none;
}


.blogPost {
    width: 50%;
    margin: 50px auto 0;
    border: 2px solid rgb(209, 208, 208);
    padding: 10px;
    box-shadow: 1px 1px 1px rgb(184, 184, 184);
    border-radius: 4px;
}

#blogTitle, #blogBody {
    display: block;
    border-radius: 3px;
}

#blogBody {
    width: 100%;
    height: 100px;
}

#blogTitle {
    width: 50%;
}

.submit:hover {
    cursor: pointer;
}

.submit {
    display: block;
    margin: 10px auto 0;
    border: none;
    padding: 8px;
    border-radius: 3px;
}

.inputContainer {
    margin: 20px auto;
    width: 100%;
}

  .date {
    font-weight: bold;
    font-size: 15px;
    color: #212529;
    display: block;
    margin-top: 0;

  }
  
  .btn {
    white-space: normal;
  }
  
 .editPost,  .deletePost {
    border: none;
    padding: 8px;
    cursor: pointer;
    float: right;
    margin: 5px;
    border-radius: 4px;
    font-weight: bold;
  }

  .deletePost {
      color: #a10606;
  }

  .editPost {
      color: #575755;
  }
